<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container">
        <a href="{% url 'index' %}" class="navbar-brand">Course App</a>

        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="{% url 'index' %}" class="nav-link">Kurslar</a>
            </li>
            <li class="nav-item">
                <a href="/contact" class="nav-link">İletişim</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link">Hakkımızda</a>
            </li>
        </ul>

        <form class="d-flex" action="{% url 'search' %}">
            <input class="form-control me-1" type="text" name="q" placeholder="Anahtar Kelime">
            <button type="submit" class="btn btn-secondary">Arama</button>

        </form>

    </div>
</nav>