{% extends 'layout.html' %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock %}

{% block page_title %}
    Edit Course
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <form method="POST" novalidate>
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="mb-3 {% if field.errors %} invalid {% endif %}">
                            
                            {% if field.errors %} <div class="alert alert-danger"> {{ field.errors }} </div> {% endif %}
                            
                            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}

                    <button class="btn btn-primary" type="submit">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_files %}
    <script src="{% static 'courses/js/script.js' %}"></script>
{% endblock  %}