{% load static %}
<div class="card mb-3">
    <div class="row">
        <div class="col-4">
            <img class="img-fluid rounded-start" src="{{ course.image.url }}" alt="{{ course.title }}">
        </div>
        <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'courses_details' course.slug %}">
                        {{ course.title }}
                    </a>
                </h5>
                <p class="card-text">{{ course.description|truncatechars:15 }}</p>
                <p>{{ course.date|date:"SHORT_DATE_FORMAT" }}</p>
            </div>
        </div>
    </div>
</div>