<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css"/>

    {% block css_files %}{% endblock %}

    <title>CourseApp | {% block page_title %}{% endblock %}</title>
</head>
<body>
    
    <!-- navbar -->
    {% include 'partials/_nav.html' %}

    {% block content %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js"></script>
    {% block js_files %}{% endblock %}
    
</body>
</html>